
@{
    ViewData["Title"] = "نمونه کارها";
}

<h3 style="text-align:center;margin-top:8px;">نمونه کارهای اینجانب</h3>


<section class="about-me-section p-3 p-lg-5 theme-bg-light">
	<div class="container">
		<h4>نمونه API</h4>
		<p>
			انواع نمونه های API توسط برنامه نویسان مختلف با اهداف مختلفی نوشته شده و استفاده می شود.
			جهت مشاهده چند نمونه از API های نوشته شده توسط اینجانب می توانید از لینک های زیر استفاده کنید:
		</p>
		    <ul>
                <li>
                    <a href="https://www.irdevprogs.ir/api/currencypairs" target="_blank">
                        نمونه API داده های مربوط به جفت ارزهای بازار فارکس
                    </a>
                </li>
                <li>
                    <a href="https://www.irdevprogs.ir/api/tsetmc/companies" target="_blank">
                        نمونه API داده های مربوط به نمادهای بازار بورس ایران
                    </a>
                </li>
                <li>
                    <a href="https://www.irdevprogs.ir/api/tsetmc/indexes" target="_blank">
                        نمونه API داده های مربوط به شاخص های کل و هم وزن بازار بورس ایران
                    </a>
                </li>
                <li>
                    <a href="https://www.irdevprogs.ir/api/kedamacandles" target="_blank">
                        نمونه API داده های کندل استیک نماد کدما در بازار بورس ایران
                    </a>
                </li>

            </ul>
	</div>
</section>